<template>
  <div>
    <button class="button logout" v-on:click="logout">Logout</button>
    <article :key="idx" class="covers" v-for="(comic, idx) in comics">
      <div>
        <img :src="comic.image" height="291px" style="margin: 10px" width="192px">
        <p>{{ comic.name }}</p>
        <hr>
        <button @click="deleteComic(comic.id)" class="button">
          Delete
        </button>
      </div>
    </article>

    <form @submit="addComic(name, image)">
      <h2>Add a New Comic Cover</h2>
      <input class="input" placeholder="Comic Name" required v-model="name">
      <input class="input" placeholder="Comic Image URL" required v-model="image">
      <button class="button" type="submit">Add New Comic</button>
    </form>
  </div>
</template>


<script>
  import firebase from 'firebase'
  import {db} from '../main'

  export default {
    name: 'Comics',
    data() {
      return {
        comics: [],
        name: '',
        image: ''
      }
    },
    firestore() {
      return {
        comics: db.collection('comics').orderBy('createdAt')
      }
    },
    methods: {
      addComic(name, image) {
        const createdAt = new Date();
        db.collection('comics').add({name, image, createdAt});
        // Clear values
        this.name = '';
        this.image = ''
      },
      deleteComic(id) {
        db.collection('comics').doc(id).delete()
      },
      logout() {
        firebase.auth().signOut().then(() => {
          this.$router.replace('login')
        })
      }
    }
  }
</script>
