<template>
  <div class="login">
    <img src="../assets/dc_logo.jpg" width="300px">
    <h3>DC Comics Rebirth - Covers</h3>
    <input
      class="input"
      placeholder="Email address"
      required
      type="text"
      v-model="email">
    <br/>
    <input
      class="input"
      placeholder="Password"
      required
      type="password"
      v-model="password">
    <br/>
    <button class="button" v-on:click="login">Enter</button>
    <p>
      <router-link to="/signup">
        New Here? Create a new account
      </router-link>
    </p>
  </div>
</template>


<script>
  import firebase from 'firebase'

  export default {
    name: 'login',
    data: function () {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      login() {
        firebase.auth().signInWithEmailAndPassword(this.email, this.password).then((user) => {
          this.$router.replace('/comics')
        }).catch((err) => {
          alert(err.message)
        })
      }
    }
  }
</script>
