<template>
  <div class="sign-up">
    <img src="../assets/dc_logo.jpg" width="300px">
    <h3>Create a new account</h3>
    <input
      class="input"
      placeholder="Email"
      required
      type="text"
      v-model="email">
    <br>
    <input
      class="input"
      placeholder="Password"
      required
      type="password"
      v-model="password">
    <br>
    <button class="button" v-on:click="signUp">Sign Up!</button>
    <button class="button">
      <router-link to="/login">
        Back
      </router-link>
    </button>
  </div>
</template>


<script>
  import firebase from 'firebase'

  export default {
    name: 'signup',
    data() {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      signUp() {
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then((user) => {
          this.$router.replace('/login')
        }).catch((err) => {
          alert(err.message)
        });
      }
    }
  }
</script>
